@model E_CommerceWebSite.Entities.User
@{
    ViewBag.Title = "Login Index";
}

@section customStyles
{
    <link href="~/Content/css/login.css" rel="stylesheet" />
}
@section customAdminScripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container login-container">
    <div class="row" id="row">
        <div class="col-6 login-form-2">
            <!--<div class="login-logo">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
    </div>-->
            <h3>Giriş Yap</h3>
            @using (Html.BeginForm("GetUser", "Login", FormMethod.Post))
            {
            <div class="form-group">
                <!--  <input type="text" class="form-control" placeholder="Email *" value="" />-->
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Ad", required = "required" })
                @Html.ValidationMessageFor(i => i.FirstName, "", new { @class = "text-danger" })
            </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Şifre *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Giriş Yap" />
                </div>
            }

            <div class="form-group">
                <a href="#" class="btnForgetPwd" value="forgotPassword">Parolamı Unuttum?</a>
            </div>
            <div class="form-group">
                <a id="signup" class="btnForgetPwd">Kaydol</a>
            </div>

        </div>

        <div class="col-6 login-form-1">
            <h3>Kayıt Ol</h3>
            @using (Html.BeginForm("AddUser", "Login", FormMethod.Post))
            {

                @Html.HiddenFor(i => i.Id)
                <div class="form-group">
                    <div class="row">
                        <!--Validationlarla alakalı uyarıları bana göster-->
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Ad", required = "required" })
                    @Html.ValidationMessageFor(i => i.FirstName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Soyad", required = "required" })
                    @Html.ValidationMessageFor(i => i.LastName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <!--<input type="text" class="form-control" id="userEmail" placeholder="Email *" value="" />-->
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", required = "required" })
                    @Html.ValidationMessageFor(i => i.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">

                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Şifre", required = "required" })
                    @Html.ValidationMessageFor(i => i.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" id="SignUp" value="Kayıt Ol" />
                </div>
            }
        </div>
    </div>
</div>


@section customScripts
{
    <script>
        $(function () {
            $("#signup").on("click", function () {
                $.ajax({
                    url: "/Login/SignUp",
                    type: "GET",
                    // success: function (response, x, xd)
                    success: function (response) {
                        console.log(response);
                        // console.log(x);
                        $("#row").append(response);
                    },
                    error: function (response, requestType, requestStatus) {
                        console.log(response);
                        console.log(requestType);
                        console.log(requestStatus);
                    }
                });
            });
        })
    </script>
}

